<nav class="side-nav">
    <button class="hamburger" (click)="toggleMenu()" #hamburger>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </button>
    <h1>
        {{'Nav_Header' | translate}}
    </h1>
    <aside class="side-menu" (click)="toggleMenu()">
        <ul>
            <li [routerLinkActive]="[ 'link-active']">
                <a [routerLink]="[ '/home']">
                    {{'Menu_Home' | translate}}
                </a>
            </li>
            <li [routerLinkActive]="[ 'link-active']">
                <a [routerLink]="[ '/']">
                    {{'Menu_Menu' | translate}}
                </a>
            </li>
            <li [routerLinkActive]="[ 'link-active']">
                <a [routerLink]="[ '/']">
                    {{'Menu_Reservations' | translate}}
                </a>
            </li>
            <li [routerLinkActive]="[ 'link-active']">
                <a [routerLink]="[ '/']">
                    {{'Menu_News' | translate}}
                </a>
            </li>

            <li [routerLinkActive]="[ 'link-active']">
                <a [routerLink]="[ '/']">
                    {{'Menu_Contact' | translate}}
                </a>
            </li>
        </ul>
    </aside>
    <div class="social-media">
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
    </div>
</nav>