<nav class="side-nav">
    <button class="hamburger">
        <div class="bar top"></div>
        <div class="bar mid"></div>
        <div class="bar bottom"></div>
    </button>
    <h1>Foodinio</h1>
    <aside class="side-menu">
        <ul>
            <li [routerLinkActive]="[ 'link-active'] ">
                <a [routerLink]="[ '/'] ">
                    Strona główna
                </a>
            </li>
            <li [routerLinkActive]="[ 'link-active'] ">
                <a [routerLink]="[ '/'] ">
                    Menu
                </a>
            </li>
            <li [routerLinkActive]="[ 'link-active'] ">
                <a [routerLink]="[ '/'] ">
                    Rezerwacje
                </a>
            </li>
            <li [routerLinkActive]="[ 'link-active'] ">
                <a [routerLink]="[ '/'] ">
                    Nowości
                </a>
            </li>

            <li [routerLinkActive]="[ 'link-active'] ">
                <a [routerLink]="[ '/'] ">
                    Kontakt
                </a>
            </li>
        </ul>
    </aside>
    <div class="social-media">
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
    </div>
</nav>