<div class="sign-up-panel">
    <p>{{'Paragraph_Sign_Up' | translate}}
        <a [routerLink]="[ '/register']">{{'Button_Sign_Up' | translate}}</a>
    </p>
</div>
<h1>
    <a [routerLink]="[ '/home']">
        <img src="/images/FoodinioLogo.svg" alt="Foodinio logo">
        <span>
            {{'Nav_Header' | translate}}
        </span>
    </a>
</h1>
<form class="login-form" [formGroup]="loginForm" (onSubmit)="onSubmit()">
    <div class="field">
        <label for="email">{{'Label_Email' | translate}}</label>
        <i class="fa fa-user" aria-hidden="true"></i>
        <input type="text" formControlName="email" placeholder="{{'Input_Email' | translate}}">
        <div class="bar"></div>
    </div>
    <div class="field">
        <label for="password">{{'Label_Password' | translate}}</label>
        <i class="fa fa-key" aria-hidden="true"></i>
        <input type="password" formControlName="password" placeholder="{{'Input_Password' | translate}}">
        <div class="bar"></div>
        <a [routerLink]="[ '/resetpassword']">{{'Button_Forgot_Password' | translate}}</a>
    </div>

    <button>{{'Button_Sign_In' | translate}}</button>
</form>