tests/Foodinio.Tests/bin/Debug/netcoreapp2.0/xunit.runner.reporters.netstandard15.dll
tests/Foodinio.Tests/obj/project.assets.json
tests/Foodinio.Tests/obj/Foodinio.Tests.csproj.nuget.g.targets
tests/Foodinio.Tests/obj/Foodinio.Tests.csproj.nuget.g.props
tests/Foodinio.Tests/obj/Foodinio.Tests.csproj.nuget.cache
tests/Foodinio.Tests/obj/Debug/netcoreapp2.0/Foodinio.Tests.pdb
tests/Foodinio.Tests/obj/Debug/netcoreapp2.0/Foodinio.Tests.dll
tests/Foodinio.Tests/obj/Debug/netcoreapp2.0/Foodinio.Tests.csproj.FileListAbsolute.txt
tests/Foodinio.Tests/obj/Debug/netcoreapp2.0/Foodinio.Tests.csproj.CoreCompileInputs.cache
tests/Foodinio.Tests/obj/Debug/netcoreapp2.0/Foodinio.Tests.csproj.CopyComplete
tests/Foodinio.Tests/obj/Debug/netcoreapp2.0/Foodinio.Tests.Program.cs
tests/Foodinio.Tests/obj/Debug/netcoreapp2.0/Foodinio.Tests.AssemblyInfoInputs.cache
tests/Foodinio.Tests/obj/Debug/netcoreapp2.0/Foodinio.Tests.AssemblyInfo.cs
tests/Foodinio.Tests/bin/Debug/netcoreapp2.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
tests/Foodinio.Tests/bin/Debug/netcoreapp2.0/xunit.runner.utility.netstandard15.dll
tests/Foodinio.Tests/bin/Debug/netcoreapp2.0/Foodinio.Tests.pdb
tests/Foodinio.Tests/bin/Debug/netcoreapp2.0/Foodinio.Tests.dll
tests/Foodinio.Tests/bin/Debug/netcoreapp2.0/Foodinio.Tests.deps.json
tests/Foodinio.Tests/bin/Debug/netcoreapp2.0/Foodinio.Infrastructure.pdb
tests/Foodinio.Tests/bin/Debug/netcoreapp2.0/Foodinio.Infrastructure.dll
tests/Foodinio.Tests/bin/Debug/netcoreapp2.0/Foodinio.Core.pdb
tests/Foodinio.Tests/bin/Debug/netcoreapp2.0/Foodinio.Core.dll
tests/Foodinio.Tests/bin/Debug/netcoreapp2.0/Foodinio.Tests.runtimeconfig.json
tests/Foodinio.Tests/bin/Debug/netcoreapp2.0/Foodinio.Tests.runtimeconfig.dev.json
src/Foodinio.Core/bin/Debug/netstandard2.0/Foodinio.Core.pdb
src/Foodinio.Core/bin/Debug/netstandard2.0/Foodinio.Core.dll
src/Foodinio.Core/bin/Debug/netstandard2.0/Foodinio.Core.deps.json
src/Foodinio.Core/obj/project.assets.json
src/Foodinio.Core/obj/Foodinio.Core.csproj.nuget.g.targets
src/Foodinio.Core/obj/Foodinio.Core.csproj.nuget.g.props
src/Foodinio.Core/obj/Foodinio.Core.csproj.nuget.cache
src/Foodinio.Core/obj/Debug/netstandard2.0/Foodinio.Core.dll
src/Foodinio.Core/obj/Debug/netstandard2.0/Foodinio.Core.csproj.FileListAbsolute.txt
src/Foodinio.Core/obj/Debug/netstandard2.0/Foodinio.Core.csproj.CoreCompileInputs.cache
src/Foodinio.Core/obj/Debug/netstandard2.0/Foodinio.Core.AssemblyInfoInputs.cache
src/Foodinio.Core/obj/Debug/netstandard2.0/Foodinio.Core.AssemblyInfo.cs
src/Foodinio.Infrastructure/obj/Foodinio.Infrastructure.csproj.nuget.g.props
src/Foodinio.Infrastructure/obj/Foodinio.Infrastructure.csproj.nuget.cache
src/Foodinio.Infrastructure/bin/Debug/netstandard2.0/Foodinio.Infrastructure.pdb
src/Foodinio.Infrastructure/bin/Debug/netstandard2.0/Foodinio.Infrastructure.dll
src/Foodinio.Infrastructure/bin/Debug/netstandard2.0/Foodinio.Infrastructure.deps.json
src/Foodinio.Infrastructure/bin/Debug/netstandard2.0/Foodinio.Core.pdb
src/Foodinio.Infrastructure/bin/Debug/netstandard2.0/Foodinio.Core.dll
src/Foodinio.Infrastructure/obj/project.assets.json
src/Foodinio.Infrastructure/obj/Debug/netstandard2.0/Foodinio.Infrastructure.pdb
src/Foodinio.Infrastructure/obj/Debug/netstandard2.0/Foodinio.Infrastructure.dll
src/Foodinio.Infrastructure/obj/Debug/netstandard2.0/Foodinio.Infrastructure.csproj.FileListAbsolute.txt
src/Foodinio.Infrastructure/obj/Debug/netstandard2.0/Foodinio.Infrastructure.csproj.CoreCompileInputs.cache
src/Foodinio.Infrastructure/obj/Debug/netstandard2.0/Foodinio.Infrastructure.csproj.CopyComplete
src/Foodinio.Infrastructure/obj/Debug/netstandard2.0/Foodinio.Infrastructure.AssemblyInfoInputs.cache
src/Foodinio.Infrastructure/obj/Debug/netstandard2.0/Foodinio.Infrastructure.AssemblyInfo.cs
tests/Foodinio.Tests.EndToEnd/obj/project.assets.json
tests/Foodinio.Tests.EndToEnd/obj/Foodinio.Tests.EndToEnd.csproj.nuget.g.targets
tests/Foodinio.Tests.EndToEnd/obj/Foodinio.Tests.EndToEnd.csproj.nuget.g.props
tests/Foodinio.Tests.EndToEnd/obj/Foodinio.Tests.EndToEnd.csproj.nuget.cache
tests/Foodinio.Tests.EndToEnd/obj/Debug/netcoreapp2.0/Foodinio.Tests.EndToEnd.csproj.CoreCompileInputs.cache
tests/Foodinio.Tests.EndToEnd/obj/Debug/netcoreapp2.0/Foodinio.Tests.EndToEnd.Program.cs
tests/Foodinio.Tests.EndToEnd/obj/Debug/netcoreapp2.0/Foodinio.Tests.EndToEnd.AssemblyInfoInputs.cache
tests/Foodinio.Tests.EndToEnd/obj/Debug/netcoreapp2.0/Foodinio.Tests.EndToEnd.AssemblyInfo.cs
src/Foodinio.Core/obj/Debug/netstandard2.0/Foodinio.Core.pdb
src/Foodinio.Core/obj/Debug/netcoreapp2.0/Foodinio.Core.AssemblyInfo.cs
src/Foodinio.Core/bin/Debug/netcoreapp2.0/Foodinio.Core.pdb
src/Foodinio.Core/bin/Debug/netcoreapp2.0/Foodinio.Core.dll
src/Foodinio.Core/obj/Debug/netcoreapp2.0/Foodinio.Core.csproj.FileListAbsolute.txt
src/Foodinio.Core/obj/Debug/netcoreapp2.0/Foodinio.Core.csproj.CoreCompileInputs.cache
src/Foodinio.Core/obj/Debug/netcoreapp2.0/Foodinio.Core.AssemblyInfoInputs.cache
src/Foodinio.Core/bin/Debug/netcoreapp2.0/Foodinio.Core.deps.json
src/Foodinio.Core/obj/Debug/netcoreapp2.0/Foodinio.Core.pdb
src/Foodinio.Core/obj/Debug/netcoreapp2.0/Foodinio.Core.dll
src/Foodinio.Infrastructure/obj/Foodinio.Infrastructure.csproj.EntityFrameworkCore.targets
src/Foodinio.Infrastructure/obj/Debug/netcoreapp2.0/Foodinio.Infrastructure.pdb
src/Foodinio.Infrastructure/obj/Debug/netcoreapp2.0/Foodinio.Infrastructure.dll
src/Foodinio.Infrastructure/obj/Debug/netcoreapp2.0/Foodinio.Infrastructure.csproj.FileListAbsolute.txt
src/Foodinio.Infrastructure/obj/Debug/netcoreapp2.0/Foodinio.Infrastructure.csproj.CoreCompileInputs.cache
src/Foodinio.Infrastructure/obj/Debug/netcoreapp2.0/Foodinio.Infrastructure.csproj.CopyComplete
src/Foodinio.Infrastructure/obj/Debug/netcoreapp2.0/Foodinio.Infrastructure.AssemblyInfoInputs.cache
src/Foodinio.Infrastructure/obj/Debug/netcoreapp2.0/Foodinio.Infrastructure.AssemblyInfo.cs
src/Foodinio.Infrastructure/bin/Debug/netcoreapp2.0/Foodinio.Infrastructure.pdb
src/Foodinio.Infrastructure/bin/Debug/netcoreapp2.0/Foodinio.Infrastructure.dll
src/Foodinio.Infrastructure/bin/Debug/netcoreapp2.0/Foodinio.Infrastructure.deps.json
src/Foodinio.Infrastructure/bin/Debug/netcoreapp2.0/Foodinio.Core.pdb
src/Foodinio.Infrastructure/bin/Debug/netcoreapp2.0/Foodinio.Core.dll
