<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Foodinio_Web</title>
    <base href="~/" />

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
<link href="https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Bree+Serif|Scope+One|Didact+Gothic|Lora" rel="stylesheet"></head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
